# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
Marboris
Marboris-AI-G1-23-RELEASE-CORE

# Test binary, build with `go test -c`
*.test

generate_model.rb


# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea/
.vscode
vendor
coverage.txt

res/authentication.txt

res/locales/en/training.json
training.json~
